@font-face {
    font-family: 'just';
    src: url('Montserrat-VariableFont_wght.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'just';
}
body {
     background-color: #12181b;
}
@mixin rotating( $wid  ) {
    margin-top: 25px;
    margin-bottom: 25px;;
    width: $wid;
    height: $wid;
    border-radius: 50%;
    border: 5px dashed white;
    background-color: rgb(29, 28, 28);
    box-shadow: -1px -2px 45px 15px rgba(0,0,0,1);
    animation: animate 10s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin centring {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#navbar {
    padding: 1rem 5rem;
    background-color: #2a2e35;
    @include centring();
    flex-direction: row;
    justify-content: space-between;
    color: rgb(211, 183, 150);
    
}
#title {
    
    color: #FFFFFF;
    text-align: center;
    
    animation: myfirst 1s ease-in-out infinite alternate;
    
    display: inline-block;
}
.About_me {
    display: inline-block;
}
@keyframes myfirst
{
    0% {
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18;
      }
      
    50% {
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18;
    }
    51%{
        text-shadow: none;
    }
    100%{
        text-shadow: none;
    }
}
#navbar >section > a {
    text-decoration: none;
    color: rgb(211, 183, 150);

}
.photo_1{
    position: relative;
    width: 100%;
    height: 100%;
}
.main_image{
    padding: 10px;
    
}
#main_1{
    
    color: #ffffff;
}
#main_1 {
    margin-top: 60px;
    padding: 5rem 10rem;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;

}
.left_side{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.right_side{
    border-radius: 15px;
    min-height:fit-content;
    box-shadow: 1px -1px 9px 4px rgba(76,171,96,0.7);
}
.buttons {
    background-color: #12181b;
    padding: 10px 20px;
    color: #ffffff;
    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid orange;
    
}
.buttons:hover {
    background-color: orange;
    cursor:crosshair;
    color: #12181b;
    transform: translateY(-3px);
}
hr{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 5px dashed;

}
.title_2 {
    margin: 50px 0;
    @include centring();
    color: #ffffff;
}
.title_2 > p{
    margin: 25px 0;
}
.container_2{
    @include centring();
}
#cards-area{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    margin-bottom: 100px;
}

.card1 , .card2 {
    width: 400px;
    border-radius: 15px;
    box-shadow: 1px -1px 9px 4px rgba(76,171,96,0.7);
    @include centring();
    color: #ffffff;
    padding: 10px 10px;
}
.image_div{
    border-radius: 15px;
    overflow: hidden;
    margin: 10px 10px;
}
.img_selector{
    position: relative;
    width: 100%;
    height: 100%;
    
}
.card_heading , .card_descrip{
    margin: 20px 0;
}
.just_card:hover{
    transform: translateY(4px);
    cursor: crosshair;
}

.sound_buttons{
    margin-top: 50px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:  auto auto auto;
    gap: 15px;
}
.bar{
    @include centring();
    width: 150px;
    height: 150px;
    background-color: rgb(44, 97, 44);
    border-radius: 15px;
}
.bar:hover{
    cursor: crosshair;
    transform: translateY(4px);
    border: 3px solid rgb(248, 93, 119);
}



.element {
    @include rotating(500px);
}
.element1 {
    @include rotating(250px);
}
.element2{
    margin-top: 25px;
    margin-bottom: 25px;;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 5px dashed white;
    background-color: rgb(29, 28, 28);
    box-shadow: -1px -2px 45px 15px rgba(0,0,0,1);
    animation: animates 10s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.element3{
    margin-top: 25px;
    margin-bottom: 25px;;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px dashed white;
    background-color: rgb(29, 28, 28);
    box-shadow: -1px -2px 45px 15px rgba(0,0,0,1);
    animation: animates 10s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
 /* RIGHT */
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* LEFT */
@keyframes animates {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
.hipnotise{
    @include centring();
    flex-direction: row;
    gap: 20px;
    margin-top: 80px;
    margin-bottom: 20px;
}
.endbar{
    @include centring();
    padding: 40px 0;
    background-color:#2a2e35;
    color: #ffffff;
}
